:root {
  --primary-color: #13bc27;
  --secondary-color: #106d21;
  --bg-color: #def4df;
  --txt-color: #595f59;
  --line-color: #d9d9d9;
  --bg-green: #def4df;
  --light-bg: #2a983e;
}
footer #up-footer {
  background-color: var(--light-bg);
}
footer #low-footer {
  background-color: var(--primary-color);
}

footer #foot-line {
  border-top: 1px solid var(--bg-color);
  margin-top: 40px;
  padding-bottom: 40px;
}
