:root {
  --primary-color: #13bc27;
  --secondary-color: #106d21;
  --bg-color: #def4df;
  --txt-color: #595f59;
  --line-color: #d9d9d9;
  --bg-green: #def4df;
}

#text-cont1 h1 {
  color: var(--primary-color);
}
#text-cont1 p {
  font-weight: 100;
}
#text-cont1 a.browse {
  padding: 8px 15px;
  text-decoration: none;
  color: white;
  font-weight: 100;
}
#text-cont1 a.browse:nth-child(1) {
  background-color: var(--primary-color);
}
#text-cont1 a.browse:nth-child(2) {
  background-color: var(--secondary-color);
}

#home2 {
  background-color: var(--bg-color);
}
#home2 #whatsnew {
  color: #106d21;
}
#home2 #whatsnew + p {
  font-weight: 100;
}
.card-txt {
  color: var(--txt-color);
}
.read-more {
  text-decoration: none;
  gap: 5px;
  color: var(--txt-color);
  width: max-content;
  transition: 0.3s ease;
}
.card-cont:hover .read-more {
  color: var(--primary-color);
  transform: translateX(20px);
}

.home3-line {
  background-color: var(--line-color);
  height: 3px;
}
.home3-line .shade {
  background-color: var(--primary-color);
  height: 3px;
  width: 100px;
}
.gratis-txt {
  background-color: var(--bg-green);
}
.gratis-txt h1 {
  border-left: 5px solid var(--primary-color);
}
.news-date {
  color: var(--primary-color);
}
.btn-readmore {
  padding: 5px 18px;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  transition: 0.3s ease;
}
.btn-readmore:hover {
  background-color: white;
  color: var(--primary-color);
}
#banner {
  position: absolute;
  z-index: 1;
  top: -25;
  font-size: 60px;
  color: var(--primary-color);
}
#sched-cont {
  padding: 80px 0px 40px 40px;
}
#clock-icon {
  font-size: 15em;
  position: absolute;
  color: var(--txt-color);
  opacity: 0.2;
  right: 80;
}
